@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
   --theme-color:rgb(52, 73, 94);
   --background-color:rgba(255, 255, 255, 0.055);
   --background-color-mobil:rgb(34, 51, 68); 
   --primary-color:rgb(255, 255, 255);
   --text-color-inverse:rgb(255, 255, 255);
   --text-color:#f7c331;
   --sous-titre:#ffffff;
   --sous-titre-over:#010101;
   --box-shadow:#1f0404;
   --navbar-shallow-color:rgb(39, 55, 70);
   --color-toggle: rgb(255, 255, 255);
   --color-toggle-hover:#F18009;
   --color-menu-hover:rgb(255, 255, 255);
   --sous-tritre-competences:#f7c331;
   --title-competences:rgb(255, 255, 255);
   --toggle-over:#f7c331;
   

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--theme-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}

.mult .img-mult {
    background-color: #F18009;
}


/***********Header**************/

#header {
    position: fixed;
    width: 100%;
    height:80px;
    padding: 0 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--theme-color);
    z-index: 1000;
    box-shadow: 0px 6px 5px #1f0404;
}

#header .logo {
    /* font-size: 1.5em; */
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    width: auto;
    color:var(--text-color);
}

#header ul {
    position: relative;
    display: flex;
}

#header ul li {
    position: relative;
    list-style: none;
    text-decoration: none;
}


#header ul li a:hover{

    color:var(--color-menu-hover);
}




#header ul li a {
    position: relative;
    text-decoration: none;
    padding: 5px 10px;
    color:var(--text-color);
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
}

#header ul li a:hover {
    background-color: var(--color-menu);
}

.toggle {
    display: none;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    min-height: 100vh;
    /* padding: 150px 100px 100px; */
}

h3{
    min-height:100vh;
    padding: 350px 100px 100px;
}



#accueil, #cv, #competences, #portfolio {
    min-height:100vh;
}

section h2 {
    font-size: 1.5em;
}

section a {
    display: inline-block;
    padding: 8px 25px;
    text-decoration: none;
    font-size: 1.1em;
    background:var(--theme-color); 
    color:white;
    margin-top: 20px;
    border-radius: 25px;
} 

#cv{
    background-color:var(--text-color);
    min-height: 100vh;
    
}

/***********Section profil************/

.nom {
    width: 100%;
    font-size: 1.5em;
    color:var(--text-color);
    text-align: left;
    /* align-items:flex-start; */
}

.nom span {
    color: #F18009 ;
}

.metier {
    width: 100%;
    padding: auto;

}
.metier p{
    font-size: 1.8em;
    color:var(--sous-titre);
    
} 

.metier span {
    color: var(--text-color) ;
}

.phone, .courrier {
    color:var(--sous-titre);
}

.fa-phone-square-alt, .fa-envelope {
    color:var(--text-color);
}

/***********Section CV ********/

.cv {
    width:auto;
    height:25%;
    object-fit: contain;
    color: #f7c331;
    
}




/***********Section compétences********/

h2 {
    color:var(--title-competenteces);
}

.container .grid-container .competences span {
    display: block;
    font-size: .9em;
}


.container .grid-container .competences .titre {
    font-size: 1.3em;
    color:var( --text-color);
    font-weight: 700;
}

.container .grid-container .competences .sous-titre {
    font-size: 1.1em;
    color:var( --sous-titre);
    margin-left: 3%;
    justify-content: center;

}

.competences-prog span {
    margin-left: 0;
}


.comp-pho {
    width: 80px;
} 

.container .design span {
    display: inline;
    position: relative;
    margin-top: 100px;
    margin-left: 400px;
    background-color: #fff;
}

.container h2 {
    color: #fff;
    
}

.container .competences span {
    justify-content: space-between;
}

/***********section portfolio*******************/
.container-port .grid-cont-port{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:1.2em;
    padding: 0 auto;
    /* margin-left: 15%; */
}

.container .grid-cont-port .portfolio .projets .titre {
    font-size: 1.3em;
    color:var( --text-color);
    font-weight: 700;
}


.container .grid-cont-port .projets .sous-titre {
    font-size: 1.1em;
    color:var( --sous-titre);
    margin-left: 3%;
    justify-content: center;
}

.fa-light-fa-file{
    font-size: 2em;
}

/* .circle-you, .circle-git, .circle-link {
    background-color: #F18009;
    border-radius: 50%;
} */

/* .icons{
    display: block;  
    margin: auto;
    width: 8%;
}  */


/* .icons {
    display: flex;
    justify-content: center;
    width: 8%;
   
   
}  

/* .icons {
    width: 8%;
    display:flex;
    /* text-align: center; */
    /* margin:auto;
    cursor:pointer;  
    
}  */



.icons {
    display: flex;
    width: 20%;
    justify-content: center;
    margin: auto;
    cursor:pointer;
}

.icons .you, .icons .git, .icons .link {
   margin-left: 10%;
   margin-right: 10%;
} 

.tire span {
    color:var(--theme-color);
}

















