/****************************** max-width 600px ******************************/

@media only screen and (max-width: 600px) and (orientation: landscape) {

    #header .logo {
        font-size: 1em;
    }
    
    #header ul {
        position:absolute;
        left: 0;
        width: 100%;
        height: calc(200vh - 80px);
        padding: 50px 100px;
        text-align: center;
        overflow: auto;
        transition: 0.5s;
        background:var(--background-color-mobil);
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%);
    }

    #header.active ul {
        opacity: 1;
        top: 80px;
        transform: translateY(0);
    }

    #header ul li a {
        margin: 5px 0;
        font-size: 1.1em;
        z-index: 1000;
    }

    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle:before {
        content: '';
        position: absolute;
        top:4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }

    .toggle:after {
        content:'';
        position: absolute;
        bottom:4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: 0.5s;
    }

    .toggle:hover{
        color:var(--toggle-over);
    }

    #header.active .toggle:before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff;
        

    }

    #header.active .toggle:after {
        bottom: 14px;
        transform: rotate(-45deg);
        color:var(--toggle-over);
    }

    .photo img{
        display: block;
        width: 30%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0px 6px 5px #1f0404;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }

    .front-end  {
        margin-top: 5%;
    }

    .img-3d {
        margin-bottom: 5%;
    }

    .container-profil-metier {
        display: grid;
        align-content:left;
        grid-template-columns: 100%;
        /* background-color: aqua; */
        /* min-height: 100vh; */
    }

    .container-profil-metier .nom{
        font-size: 1em;
    }

    .metier  p{
        font-size: .8em;
    }

    .metier p, .contact .phone, .contact .courrier p{
        font-size: .8em; 
    } 

    .courrier p{
        font-size: .9em;
    }

    .grid-container {
        background-color:var(--background-color);
        filter:drop-shadow(3px 4px 3px #000);
    }

    .container h4, .container-port h4 {
        color:var(--sous-titre);
        font-size: .7em;
    }

    .container-cv {
        margin-left: auto;
        margin-right: auto;
        min-height: 100vh;
    }

    .container-cv .cv  {
        font-size: .6em;
        align-items: center;
        
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, (1, 1fr));
        
    }

    .container {
        min-height: 100vh;
        /* background-color: aqua;*/
    } 

    .grid-container img {
        display: block;
        width: 20%;
    }

    .grid-container h5, .grid-container-port h5 {
        color:var(--sous-titre);
        font-size: .6em;
        font-weight: lighter;
    }

    .container .grid-container .comp-html .img-html, .comp-css .img-css, .comp-js .img-js, .comp-php .img-php,
    .comp-mysql .img-mysql, .comp-resp .img-resp, .comp-psd .img-psd, .comp-figm .img-figm, .comp-illu .img-illu,
    .comp-ae .img-ae, .comp-mult .img-mult, .comp-3d .img-3d {
        width: 15%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
        /* padding: 1% 2%; */
        filter:drop-shadow(3px 4px 3px #000);
    }


    .front-end, .back-end, .resp, .grap, .mult, .trois-d, .foru {
        text-align: center;
    }

    .back-end, .resp, .grap, .mult, .trois-d {
        margin-top: 6%;
    }

    .img-foru{
        width: 35%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
    }

    .grid-container , .grid-container-port {
        background-color:var(--background-color);
        filter:drop-shadow(3px 4px 3px #000);
        border-radius: 25px;
        margin-top: 5%;
    }

    .forum img, .chateau img {
        display: block;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }


    .chateau img {
        padding-bottom: 3%;
        height: 50%;
        margin-top: 0;
        padding-top: 0;
        /* background-color: aqua; */

    } 

    .droits {
        text-align: center;
        margin-bottom: 5%;
        font-size: .6em;
    }
}



@media only screen and (min-width:601px) and  (max-width:766px) and (orientation: landscape)  {

    #header .logo {
        font-size: 1.2em;
    }

    #header ul {
        position:absolute; 
        left: 0;
        width: 100%;
        height: calc(200vh - 80px); 
        padding: 50px 100px; 
        text-align: center; 
        overflow: auto; 
        transition: 0.5s; 
        background:var(--background-color-mobil); 
        flex-direction: column;
        opacity: 0;
        transform: translateY(-100%); 
    } 

    #header.active ul {
        opacity: 1;
        top: 80px;
        transform: translateY(0);
    }

    #header ul li a {
        margin: 5px 0;
        font-size: 1.1em;
    } 

    .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle:before {
        content: '';
        position: absolute;
        top:4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }

    .toggle:after {
        content:'';
        position: absolute;
        bottom:4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: 0.5s;
    }

    header.active .toggle:before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }

    header.active .toggle:after {
        bottom: 14px;
        transform: rotate(-45deg);
    }


    #accueil {
        min-height:100vh;
    }

    .photo img{
        display: block;
        width: 30%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0px 6px 5px #1f0404;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }

    .container-profil-metier {
        align-content:left;
        grid-template-columns: 100%;
    }

    .container-profil-metier .nom {
        font-size: 1em; 
    }

    .metier p, .contact .phone, .contact .courrier {
        font-size: .8em; 
    }
    


    .container-cv {
        margin-left: auto;
        margin-right: auto;
    }

    #cv {
        width: 100%;
        background-color:var(--text-color);
        min-height: 100vh; 
    }

    .container-cv .cv  {
        font-size: .8em;
        align-items: center;
    }

    .front {
        padding: 1% 0 0 0;
    }

    .grid-container {
        padding-bottom: 5%;
    }

    .grid-container, .grid-container-port {
        background-color:var(--background-color);
        filter:drop-shadow(3px 4px 3px #000);
        border-radius: 25px;
    }

    .container h4, .container-port h4 {
        color:var(--sous-titre);
        font-size: .7em;
        padding: 2% 0;
        /* background-color: aqua; */
    }

    .front-end  {
        margin-top: 5%;
    }

    .front-end, .back-end, .resp, .grap, .mult, .trois-d, .foru, .deux-d {
        text-align: center;
    }

    .deux-d {
        margin-bottom: 2%;
    }

    .grid-container img, .grid-container-port .projets .forum .img-forum{
        display: block;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        /* padding:  2% 0; */
    }

    .container h5, .grid-container-port h5 {
        color:var(--title-competences);
        font-size: .6em;
        font-weight: lighter;
    }

    .container .grid-container .comp-html .img-html, .comp-css .img-css, .comp-js .img-js, .comp-php .img-php,
    .comp-mysql .img-mysql, .comp-resp .img-resp, .comp-psd .img-psd, .comp-figm .img-figm, .comp-illu .img-illu,
    .comp-ae .img-ae, .comp-mult .img-mult, .comp-3d .img-3d{
        width: 13%;
        height:auto;
        margin-left: auto;
        margin-right: auto;
        padding: 1% 1%;
        filter:drop-shadow(3px 4px 3px #000);
    }

    .back-end,  .resp, .grap, .mult, .trois-d {
        margin-top: 8%;
    }

    .grid-container-port .projets .foru{
        margin-top: 5%;
    }

   


    .projets, .foru {
        margin-top: 5%;
    }

    .foru {
        padding:  3% 0 0 0;
    }

    .forum img, .chateau img, .cmsi-avril img, .cmsi-source img, .cmsi-pere img, .cmsi-catalogue img {
        
        display: block;
        margin-bottom: 3%;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
}

.cmsi-catalogue {
    
    padding-bottom: 3%;
}
    
    .droits {
        text-align: center;
        margin-bottom: 5%;
        font-size: .7em;
        color:var(--sous-titre);
    }

}

